
.navbar-nav .nav-item .nav-link  {
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: orange;
}
.navbar-nav .nav-item .nav-link img {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-item .nav-link span{
    transition: transform 0.3s ease;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand .logoname {

    transition: color 0.3s ease;
}

.navbar-brand:hover .logoname  {
    color: orange;
}

.navbar-nav .nav-item .nav-link:hover img {
    transform: scale(1.1);

}
.nav-link .logout-form input[type="submit"] {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.logout-form input[type="submit"]:hover {
    color: orange;
    background-color: #e9ecef;
}



